html, body {
    height: 100%;
}

body {
    background-color: black;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid-container {
    display: grid;
    aspect-ratio: 1;

    width: 500pt;
}

.pixel {
    background-color: lightgray;
    border: solid;
    border-width: 0px;
    border-color: gray;
}

#new-grid-button {
    margin-bottom: 10pt;
}